
<form action="/car_update?id=<%= @car["id"] %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div>
    <label for="">Make</label>
    <input type="text" name="make" value="<%= @car["make"]%>">
  </div>
  <div>
    <label for="">Model</label>
    <input type="text" name="model" value="<%= @car["model"]%>">
  </div>
   <div>
    <label for="">Start year</label>
    <input type="text" name="fromyear" value="<%= @car["fromyear"]%>">
  </div>
  <div>
    <label for="">End year</label>
    <input type="text" name="toyear" value="<%= @car["toyear"]%>">
  </div>
   <div>
    <label for="">Variant</label>
    <input type="text" name="variant" value="<%= @car["variant"]%>">
  </div>
  <div>
    <label for="">Front Brake Parts No.</label>
    <input type="text" name="brake_pad_front" value="<%= @car["brake_pad_front"]%>">
  </div>
  <div>
    <label for="">Rear Brake Parts No.</label>
    <input type="text" name="brake_pad_rear" value="<%= @car["brake_pad_rear"]%>">
  </div>
  <div>
    <label for="">Oil Filter Parts No.</label>
    <input type="text" name="oil_filter" value="<%= @car["oil_filter"]%>">
  </div>
  <div>
    <label for="">Air Filter Parts No.</label>
    <input type="text" name="air_filter" value="<%= @car["air_filter"]%>">
  </div>

  <button>Update car details</button>
</form>

  <a href="/db?id=<%= 13 %>">
    <button>Return to car DB</button>
  </a>