
<% if @user["id"] == session[:user_id] %>
  <table class="mydetails">
    <tr>
      <th>List</th>
      <th>My details</th>
    </tr>
    <tr>
      <td>User name</td>
      <td> <%= @user["username"] %> </td>
    </tr>
    <tr>
      <td>User email</td>
      <td> <%= @user["email"] %> </td>
    </tr>
    <tr>
      <td>Delivery address</td>
      <td> <%= @user["delivery_address"] %></td>
    </tr>
    <tr>
      <td>Car model</td>
      <td> <%= @user["users_car"] %> </td>
    </tr>
    <tr>
      <td>Model year</td>
      <td> <%= @user["users_car_year"] %> </td>
    </tr>
  </table>
  <div class="mydetails_button">
    <a href="/user_edit?id=<%= @user["id"] %> ">
      <button>edit</button>
    </a>

    <form action="/user_delete" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="id" value="<%= @user["id"] %>">
      <button>delete</button>
    </form>

    <% if @user["id"] == '13' %>
    <form action="/admin" method="get">
      <input type="hidden" name="id" value="<%= @user["id"]%>" >
        <button>Check DB</button>
    </form> 
    <% end %>
  </div>
<% else %>
  <div class="wrongway">
    <h1> Incorrect input for memberdetails </h1>
    <div class="wrongway_form">
      <form action="/logout" method="post">
        <input type="hidden" name="_method" value="delete">
        <button>Return to Home</button>
      </form>
    </div>  
  </div>
<% end %>



